@tailwind base;
@tailwind components;
@tailwind utilities;

.starRating{
  @apply w-full text-center;
  ul{
    @apply w-auto inline-block;
    li{
      @apply float-right px-1.5;
      display: flex;
      i{
        &:before{
          @apply text-orangeColor text-3xl;
          font-family: your-startup-icon;
          font-style: normal;
          content: "\e903";
        }
      }
    }
  }
}
