$mainColor: #4b2df7 !default;
$darkColor: #371fc1 !default;
$darkerColor: #23118b !default;
$darkestColor: #0f0355 !default;

$mainBlue: #0e6ace !default;
$white: #ffffff !default;
$mainGreen: #00cc73 !default;
